name: Compilation_Test
on:
  push:
    branches:
      - 'main'
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Download repo files
        uses: actions/checkout@v6.0.1
      - name: Compile files
        uses: xu-cheng/latex-action@v4
        with:
          working_directory: PrescriptiveStudyMethod
          root_file: PrescriptiveStudyMethod.tex
      - name: Upload compiled file
        uses: actions/upload-artifact@v5
        with: 
          name: Prescriptive_Study_Method
          path: PrescriptiveStudyMethod/PrescriptiveStudyMethod.pdf
